body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #509e22;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.hide {
    display: none;
}
h1 {
    font-size: 24px;
    color: red;
    font-weight: bolder;
}

h2 {
    color: #509e22;
}

#initials {
    display: none;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
}

main {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#question-container {
    margin-top: 20px;
}

#question {
    font-size: 18px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.choice {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    text-align: center;
    margin-top: 20px;
}

#high-score-form {
    display: inline-block;
}

#initials {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
}

#submit-score {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.choice.incorrect {
    background-color: red;
    color: white;
}

.choice.correct {
    background-color: green;
    color: white;
}