body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    background-color: #509e22;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.hide {
    display: none;
}

h1 {
    font-size: 24px;
    color: red;
    font-weight: bolder;
}

h2 {
    color: #509e22;
}

#initials {
    display: none;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
}

#game-over {
    color:red ;
    font-size: 2em;
    font-weight: bold;
}
#intro-message {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

main {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 80%;
    justify-content: center;
    text-align: center;
}

#question-container {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#start-button {
    margin: 0;
    background-color: #509e22;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

#question {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
    width: 80%;
    margin: auto;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    margin-bottom: 10px;
    width: 100%;
}

.choice {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

#view-scores {
    padding: 10px 20px;
    font-size: 1.2em;
    color: #007BFF;
    border: 2px solid #007BFF;
    border-radius: 5px;
    background: none;
    cursor: pointer;
    transition: all 0.3s ease;
    position: fixed;
    top: 10px;
    right:
     10px;
}
#high-score-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
  margin: 20px auto;
  max-width: 500px;
}

#high-score-form input,
#high-score-form button {
  margin: 10px 0;
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#high-score-form button {
  color: #007BFF;
  background: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

#high-score-form button:hover {
  color: #0056b3;
}

#initials {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
}

#submit-score {
    background-color: #007bff;
    color: #fff;
    border: none;
    margin: 0;
    border-radius: 3px;
    cursor: pointer;
    
}

#message-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .message {
    font-size: 25px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.choice.incorrect {
    background-color: red;
    color: white;
}

.choice.correct {
    background-color: green;
    color: white;
}

#try-again {
    font-size: 25px ;
    background-color: #007bff;
    color: #fff;
    border: none;
    margin: 0;
    border-radius: 3px;
    cursor: pointer;
}